@{
    ViewBag.Title = "About";
}
<div class="site-section bg-light">
    <div class="container">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>
            Digital Online Assets Managment is an application <br />
            that helps the users to manage the assets. <br />
            It is under construction ..., <br />
            very soon you will enjoy the services of DAOM project
        </p>


    </div>
</div>