@{
    ViewBag.Title = "Contact";
}

<div class="site-section bg-light">
    <div class="container">

        <h2>@ViewBag.Title.</h2>

        <h3>@ViewBag.Message</h3>

        <address>
            DOAM Project<br />
            Rue Joseph Wauteurs 369<br />
            6020, Dampremy <br />
            <abbr title="Phone">P:</abbr>
            +324.65.55.47.01
        </address>


        <address>
            <strong>Support:</strong>   <a href="mailto:nkuru2001@yahoo.com">nkuru2001@yahoo.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:nkuru2001@yahoo.com">nkuru2001@yahoo.com</a>
        </address>

    </div>
</div>