@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/Layout_AreaAdmin.cshtml";
    }


    <div class="site-section bg-light">
        <div class="container" style="height:600px;">
            <div class="site-blocks-cover overlay" style="background-image: url('../../../../images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container" style="height:600px;">

                    <div class="row align-items-center justify-content-center text-center">

                        <div class="col-md-12">

                            <div class="row justify-content-center mb-4">
                                <div class="col-md-8 text-center">
                                    <h1 class="" data-aos="fade-up">Digital Online Assets Management</h1>
                                    <p data-aos="fade-up" data-aos-delay="100" style="font-size:38px; font-family:Forte;">Admin Management Area</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

