@model MyApp.Infrastructure.DB.AspNetUserLogin

@{
    ViewBag.Title = "Details";
       //Layout = "~/Views/Shared/_Layout.cshtml";
       Layout = "~/Views/Shared/Layout_AreaAdmin.cshtml";
}

    <div class="site-section bg-light">
        <div class="container">
            <h2>Details</h2>

            <div>
                <h4>AspNetUserLogin</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AspNetUser.Email)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
</div></div>