@model MyApp.Infrastructure.DB.AspNetRole

@{
    ViewBag.Title = "Details";
       //Layout = "~/Views/Shared/_Layout.cshtml";
       Layout = "~/Views/Shared/Layout_AreaAdmin.cshtml";
}


    <div class="site-section bg-light" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg')">
        <div class="container">
            <h2>Details</h2>

            <div>
                <h4>AspNetRole</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
</div>
</div>